@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<div class="row form" id="ask_an_expert_form">
    <h3>Ask an expert</h3>
    <form>
        <div class="form-group">
            <div class="col-md-6">
                <input type="text" class="form-control" id="inputName" placeholder="Name">
            </div>
            <div class="col-md-6">
                <input type="email" class="form-control" id="inputEmail" placeholder="Enter your email">
            </div>
        </div>
        <div class="form-group col-md-12">
            <textarea class="form-control" id="inputText" placeholder="Enter your question"></textarea>
        </div>
        <div class="checkbox col-md-12">
            <label><input type="checkbox"> Sign me up for the Newsletter</label>
            <button type="submit" class="btn btn-primary right">Send</button>
        </div> 
    </form>
</div>
