@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{ 
    var home = CurrentPage.Site();
}

<div class="row field dark">
    <div class="container">
        <img src="/Media/Images/footer_banner.png" class="footer-img full">
    </div>
</div>
<div class="container">
    <nav class="col-lg-8 footer-nav">
        <ul>
            <li>&copy; Copyright Carter Clark Finance Recovery</li>
            <li><a href="#">Site Map</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Corporate information & disclaimer</a></li>
        </ul>
    </nav>
    <div class="col-lg-4 social-icons">
        <ul>
            <li><img src="~/Media/Images/s-icons_facebook.png" /></li>
            <li><img src="~/Media/Images/s-icons_twitter.png" /></li>
            <li><img src="~/Media/Images/s-icons_youtube.png" /></li>
            <li><img src="~/Media/Images/s-icons_linkedin.png" /></li>
        </ul>
        
        
    </div>
</div>