<!DOCTYPE root[<!ELEMENT Imageslideritem ANY>
<!ATTLIST Imageslideritem id ID #REQUIRED>
 
<!ELEMENT MasterPage ANY>
<!ATTLIST MasterPage id ID #REQUIRED>
<!ELEMENT Sitepage ANY>
<!ATTLIST Sitepage id ID #REQUIRED>

]>
<root id="-1">
  <MasterPage id="1094" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-04-22T22:01:55" updateDate="2015-04-25T21:07:47" nodeName="HomePage" urlName="homepage" path="-1,1094" isDoc="" nodeType="1093" creatorName="ComplX" writerName="ComplX" writerID="0" template="1056" nodeTypeAlias="MasterPage">
    <MasterPage id="1106" parentID="1094" level="2" creatorID="0" sortOrder="0" createDate="2015-04-25T12:55:53" updateDate="2015-04-25T13:19:31" nodeName="homepage" urlName="homepage" path="-1,1094,1106" isDoc="" nodeType="1093" creatorName="ComplX" writerName="ComplX" writerID="0" template="1053" nodeTypeAlias="MasterPage">
      <pageTitle><![CDATA[test]]></pageTitle>
      <bodytext><![CDATA[<p>test</p>]]></bodytext>
      <footerText><![CDATA[test]]></footerText>
      <telephoneNumber><![CDATA[test]]></telephoneNumber>
      <bannersMediaFolder>1103</bannersMediaFolder>
    </MasterPage>
    <Imageslideritem id="1105" parentID="1094" level="2" creatorID="0" sortOrder="0" createDate="2015-04-25T17:51:37" updateDate="2015-04-25T17:51:37" nodeName="test1" urlName="test1" path="-1,1094,1105" isDoc="" nodeType="1101" creatorName="ComplX" writerName="ComplX" writerID="0" template="1100" nodeTypeAlias="Imageslideritem" />
    <telephoneNumber><![CDATA[0845 686 010]]></telephoneNumber>
    <bannerMediaFolder>1104</bannerMediaFolder>
  </MasterPage>
</root>